[submodule "hbe/lib/eigen-git-mirror"]
	path = hbe/lib/eigen-git-mirror
	url = https://github.com/eigenteam/eigen-git-mirror.git
[submodule "hbe/lib/config4cpp"]
	path = hbe/lib/config4cpp
	url = https://github.com/config4star/config4cpp.git
